<!DOCTYPE HTML>
<html lang="en-US">
<head>
	<meta charset="UTF-8">
	<title>创建项目</title>
	<link rel="stylesheet" href="/stylesheets/layout.css">
	<link rel="stylesheet" href="/stylesheets/create_pro.css">
	<script type="text/javascript" src="/javascripts/vertify.js"></script>
	<script type="text/javascript" src="/javascripts/jquery-1.7.min.js"></script>
	<script type="text/javascript" src="/javascripts/sign_out.js"></script>
</head>
<body>
	<div class="container">
		<header class="header">
			<a href="" class="logo"></a>
			<a href="" class="header-orange logo-tips">for HCI</a>
			<span class="header-orange header-name">Hello ,<%= user_name %> !</span>
			<button class="header-orange sign-out">sign out</button>
			<img src="/images/create-logo.png" alt="创建项目标记" class="create-logo">
		</header>
		<div class="body">
			<p class="title">如果你想创建像这样的列表，填写下表创建自己的~
			</p>
			<form action="/insert_pro" method="post" class="project_form" onSubmit="return Vertify.projectVertify();">
				<input type="text" class="login-input" placeholder="项目名称" name="name" id="name">
				<textarea name="content" id="introduction" cols="30" rows="10" class="login-input" placeholder="项目简介"></textarea>
				<input type="password" class="login-input" placeholder="管理密码" name="password" id="password">
				<input type="password" class="login-input" placeholder="密码确认" name="password_again" id="password-again">
				<input type="submit" value="创建" class="btn login-btn">
				<input type="reset" value="重置" class="btn login-btn">
			</form>
		</div>
		<footer>
			<div class="footer-box">
				<section class="menu">
					<a href="/pro_list">项目列表</a>
					&nbsp&nbsp|&nbsp&nbsp
					<a href="/Mypro_list">我的项目</a>
				</section>
			</div>
			<div class="footer-author">
				<span>技术指导:梁广彬 黄浩松 黄佳生</span>
				&nbsp&nbsp&nbsp&nbsp
				<span>版权所有:<a href="">SCAU@HCI</a></span>
			</div>
			<div class="footer-author">
				<span>联系方式:noonnightstorm@gmail.com</span>
			</div>
		</footer>
	</div>
</body>
</html>