<!DOCTYPE HTML>
<html lang="en-US">
<head>
	<meta charset="UTF-8">
	<title>愿望树列表</title>
	<link rel="stylesheet" href="/stylesheets/layout.css">
	<link rel="stylesheet" href="/stylesheets/pro_list.css">
</head>
<body>
	<div class="container">
		<header class="header">
			<a href="" class="logo"></a>
			<a href="" class="logo-tips">for HCI</a>
		</header>
		<div class="body">
			<h1 class="list-title">项目列表</h1>
			<section class="article-box">
				<article class="article-item">
					<h2 class="article-title"><a href="">项目A</a></h2>
					<p class="article-content">项目A简介项目A简介项目A简介项目A简介项目A简介项目A简介项目A简介项目A简介</p>
				</article>
				<article class="article-item">
					<h2 class="article-title"><a href="">项目B</a></h2>
					<p class="article-content">B的简介B的简介B的简介B的简介B的简介B的简介B的简介B的简介B的简介B的简介B的简介B的简介B的简介B的简介B的简介B的简介B的简介B的简介B的简介B的简介B的简介B的简介B的简介B的简介B的简介B的简介B的简介B的简介B的简介B的简介B的简介B的简介</p>
				</article>
				<article class="article-item">
					<h2 class="article-title"><a href="">项目C</a></h2>
					<p class="article-content">项目区位于青海省境内黄河干流公伯峡水电站下游的两岸阶地上，隶属循化撒拉族自治县、化隆回族自治县等两个少数民族县。该地区降水量为259.4mm，蒸发量2206.4mm，沟河多为季节性河流，气候干旱，素有“干循化”之称。项目区现有人口8.3万人，7.03万头（只）牲畜，其中2.18万人贫困，人畜饮水困难。项目区由于缺水，经济发展缓慢，群众生活条件艰苦，水土流失严重，生态环境恶化。水利基础设施建设滞后是长期以来制约区内经济社会发展的主要因素。因此，兴建该工程，不仅是该地区群众改善生产生活条件、脱贫致富的前提，也是黄河河谷两岸生态环境建设的重要基础设施，是这一地区经济发展、社会稳定、环境改善的希望所在。</p>
				</article>
			</section>
		</div>
		<footer>
			<div class="footer-box">
				<section class="menu pro-list-menu">
					<a href="">愿望树</a>
					&nbsp&nbsp|&nbsp&nbsp
					<a href="">创建项目</a>
					&nbsp&nbsp|&nbsp&nbsp
					<a href="">我的项目</a>
				</section>
			</div>
			<div class="footer-author">
				<span>技术指导:梁广彬 黄浩松 黄佳生</span>
				&nbsp&nbsp&nbsp&nbsp
				<span>版权所有:<a href="">SCAU@HCI</a></span>
			</div>
		</footer>
	</div>
</body>
</html>