<section class="comment-item comment-item-demo">
	<div class="comment-title">
		<img src="/images/status-ongoing.png" alt="" class="comment-status">
		<span class="comment-info"></span>
	</div>
	<div class="comment-avatar">
		<img src="/images/Avatar-Storm.png" alt="avatar" class="comment-avatar-img">
	</div>
	<article class="comment-content-box">
		<div class="comment-operate">
			<a href="">更多</a>
			&nbsp
			<a href="">完成</a>
			&nbsp
			<a href="">删除</a>
		</div>
		<span class="comment-content"></span>
	</article>
	<div class="comment-vote">
		<span class="comment-vote-score"></span>
		<button class="add-score-btn" value="">+1</button>
	</div>
</section>