<section class="comment-item comment-item-demo">
	<div class="comment-title">
		<img src="/images/status-ongoing.png" alt="" class="comment-status">
		<span class="comment-info"></span>
	</div>
	<div class="comment-avatar">
		<img src="/images/Avatar-Storm.png" alt="avatar" class="comment-avatar-img">
	</div>
	<article class="comment-content-box">
		<div class="comment-operate">
			<!-- <buttom class="modify-comment-btn modify-comment"></buttom> -->
			<button class="modify-comment-btn modify-comment"></button>
			&nbsp
			<button class="modify-comment-btn detele-comment">删除</button>
		</div>
		<span class="comment-content"></span>
	</article>
	<div class="comment-vote">
		<span class="comment-vote-score"></span>
		<button class="add-score-btn" value="">+1</button>
	</div>
</section>